/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* Fim do Reset CSS */


/* Header */
header{
    background-color: #181a17;
}

li{
    list-style: none;
}

a{
    color: #fff;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
    font-size: 20px;

}

.logo{
    font-size: 2rem;
    font-weight: bold;
    transition: 0.5s ease;
    
}

.logo:hover{
    color: #82FD02;

}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 60px;
    z-index: 1;
}

.nav-link{
    transition: 0.5s ease;
}

.nav-link:hover{
    color: #82FD02;
}

.burguer{
    display: none;
    cursor: pointer;
    
}

.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}


@media (max-width: 800px){
    .burguer{
        display: block;
    }

    .burguer.active .bar:nth-child(2){
        opacity: 0;
    }

    .burguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .burguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: absolute;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #1B1E1A;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }
}
/* Fim do Header */

/* Main */
body{
    background-color: #1B1E1A;
    width: 100%;
    height: 100vh;
}

.title{
    display: flex;
    justify-content: center;
    color: #82FD02;
    text-align: center;
    padding-top: 40px;
    font-size: 50px;
}

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .slides {
    display: flex;
    width: 100%;
    transition: transform 1s;
  }
  
  .slide {
    flex: 1;
    text-align: center;
  }
  
  .slide img {
    margin-top: 60px;
    width: 30%;
    object-fit: cover;
    transition: .5s ease;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    padding: 16px;
    color: white;
    transition: 1s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
    
  .indicator-container {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
  }
  
  .indicator {
    width: 12px;
    height: 12px;
    margin: 0 8px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
  }
  
  .indicator.active {
    background-color: #82FD02;
  }

.line{
    margin: auto;
    margin-top: 30px;
    width: 90%;
    height: 0px;
    border: 1px solid #82FD02;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: row;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(33.33% - 20px);
  background-color: #181a17;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  color: #fff;
  margin-top: 5rem;
  width: 30vw;
  height: 40vh;
  margin-left: 50px;
  
}

.card:hover{
  box-shadow: 0 2px 5px 8px #82FD02;
  transition: 0.5s ease;
}

.card h1{
  color: #82FD02;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
}

.card p {
  padding: 0 20px 20px;
  font-size: 14px;
  text-align: justify;
}

@media (max-width: 767px) {
  .card {
    width: 100%;
  }
}


.paragrafo{
    display: flex;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
    font-family: sans-serif;
}

.bt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 20vw;
    height: 15vh;
    background-color: #82FD02;
    border-radius: 50px;
    margin-top: 80px;
    font-size: 20px;
    cursor: pointer;
}

.bt a{
    color: #000;
}

.title-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin-top: 70px;
}
/* Fim Main */

/* footer */
footer {
    background-color: #181a17;
    color: white;
    padding: 1em;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
  }

  .contact {
    margin-bottom: 1em;
  }

  .social-media {
    margin-bottom: 1em;
  }

  .social-media a {
    color: white;
    margin-right: 0.5em;
    text-decoration: none;
  }

 .social-media img{
    margin-top: 2rem;
    height: 35px;
    width: 35px;
    transition: 1s;
  }

  .social-media img:hover{
    transform: scale(1.3);
    transition: 1s;
  }
  @media (max-width: 600px) {
    footer {
      font-size: 0.8em;
    }
  }

  /* fim do footer */

/* ========================================================= */
/* parte do EDUARDO */

.form-container {
  display: flex;

  flex-direction: row;
  align-items: center;
  
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 1em;
  padding-right: 1em;

  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;
  background-color: #181a17;

  width: 50%;
  height: 25em;

  padding-top: 2em;
  padding-bottom: 2em;
}

h1 {
  text-align: center;
  color: #fff;
}
label{
 color: #fff;
}

.input-field {
  background-color: #181a17;
  color: #fff;
  border-radius: 10px;
  border: 2px solid #82FD02;
  padding: 10px;
  margin: 10px 0;
  width: 80%;
}

.green-button {
  border-radius: 25px;
  background-color: #82FD02;
  color:  #181a17;
  padding: 10px 150px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 800;
  font-size: 20px;
  
  display: block;
  margin: 0 auto;
  animation: pulse 1s infinite;
}

.img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #181a17;
  border-radius: 0.5em;
  width: 50%;
  height: 25em;
}
.img img{
  height: 95%;
  width: 95%;
  border-radius: 0.5em;
}

/* Media queries to adjust the button size on different screen sizes */
@media screen and (max-width: 800px) {
  .form{
    width: 100%;
  }
  .form-container{
    flex-direction: column;
  }
  .green-button {
    width: 80%;
    text-align: center;
  }
  .img{
    width: 100%;
    height: 50%;
  }
}

@media screen and (max-width: 480px) {
  .green-button {
    width: 100%;
  }
  .green-button {
    padding-left: 85px;
  }
}

@media (max-width: 600px) {
  form {
    width: 80%;
  }
  .green-button {
    width: 80%;
    text-align: center;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

@media (max-width:460px) {
  .title{
    font-size: 15px;
  }

  .carousel{
    height: 15rem;
  }
  

  .slide{
    transform: scale(2);
  }
  
  .bt{
    font-size: 10px;
    width: 55vw;
    height: 10vh;
  }

  .card{
    margin-right: 50px;
    height: 50vh;  
  }
  .card h1{
    font-size: 20px;
  }
  .card h3{
    font-size: 15px;
    line-height: 15px;
  }
}
